@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
}
body {
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(241, 236, 236);
  font-family: 'Pushster', cursive;
}

.movie-app {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.header {
  box-shadow: -8px 4px 2px 5px rgb(0 0 0 / 20%)
}

/* .footer {
  background-color: #190A05;
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding: 10px;
} */


/* Container around movie-cards, scroll like Netflix */
.row-container {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  background-color: red;
}
/* Scrolling bar under the row to disappear */
.row-container::-webkit-scrollbar {
  display: none;
}


/* Movies cards */
.movie-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 235px;
  box-shadow: 0 3px 10px 0 #aaa;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.movie-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* .movie-container:hover .overlay {
  opacity: 0.8;
} */

.cover-image {
  object-fit: cover;
  width: 215px;
}

.movie-title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-infos {
  font-size: 16px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}






/* Black bar on bottom of movies cards (to add/remove favourite) */
/* .overlay {
  position: absolute;
  background: rgb(24, 23, 23);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.add-rmv-text {
  font-family: 'Montserrat', sans-serif;  
  font-size: 15px;
} */
